.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 0px !important; 
}

.MuiOutlinedInput-notchedOutline{
    border: 1px solid white !important;
    border-radius: 50px !important;
}

.css-848nb1-MuiInputBase-root-MuiOutlinedInput-root{
    color: white !important;
    font-weight: 100 !important;
}
